<?PSC version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="net.ppather.editor.perspectives.PerspectivePPather"
            icon="icons/ppather.gif"
            id="net.ppather.editor.perspective"
            name="%perspective.name.0">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="net.ppather.editor.editors.PSCEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            extensions="psc"
            icon="icons/ppather.gif"
            id="net.ppather.editor.editors.PSCEditor"
            name="%editor.name.0">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="net.ppather.editor.wizards.category"
            name="%category.name.0">
      </category>
      <wizard
            id="net.ppather.editor.wizards.PSCNewPageWizard"
            name="%wizard.name.0"
            icon="icons/ppather.gif"     
            category="net.ppather.editor.wizards.category" 
            class="net.ppather.editor.wizards.PSCNewWizard" 
            project="false"
      		finalPerspective="net.ppather.editor.perspective" 
      		preferredPerspectives="net.ppather.editor.perspective">      
            <description>
          		%description
        	</description>       
      </wizard>
      <wizard
            id="net.ppather.editor.wizards.PSCNewProject"
            name="%wizard.name.1"
            icon="icons/ppather.gif"     
            category="net.ppather.editor.wizards.category" 
            class="net.ppather.editor.wizards.PSCNewProject" 
            project="true"
      		finalPerspective="net.ppather.editor.perspective" 
      		preferredPerspectives="net.ppather.editor.perspective">      
            <description>
          		%description
        	</description>   
         	<selection
               class="org.eclipse.core.resources.IProject">
         	</selection>    
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="net.ppather.editor.actionSet"
            label="%actionSet.label.0"
            visible="true">
         <action
               class="ppater_plugin.editors.actions.AddWordAction.java"
               icon="icons/ppather.gif"
               id="net.ppather.editor.editors.actions.AddWordAction"
               label="%action.label.0"
               retarget="true"
               style="push">
         </action>
      </actionSet>
   </extension>

</plugin>
